<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"/>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <nav class="navbar navbar-light navbar-expand-md ">
        <div class="container">
            <a href="" class="navbar-brand">
                <i class="bi bi-book-half"></i>
                <span class="fw-bold text-secondary">Blogs</span>
            </a>
            <!-- toggle button for mobile nav -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="main-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{url_for('core.home')}}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('core.info')}}" class="nav-link">About</a>
                    </li>

                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{{url_for('users.account')}}" class="nav-link">Account</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('blog_posts.create_post')}}" class="nav-link">Create Post</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('users.logout')}}" class="nav-link">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{url_for('users.register')}}" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{url_for('users.login')}}" class="nav-link">Login</a>
                    </li>
                    {% endif %}  
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

  </body>
</html>
